@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4"> Pokemon Trading Card Game Database</h1>
    <p> <button>Sign in</button></p>
    <p> <button>Log in</button> </p>
</div>
